<div>
    <h2 id="page-heading">
        <span jhiTranslate="testappApp.business.home.title">Businesses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-business" [routerLink]="['/business/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="testappApp.business.home.createLabel">
            Create new Business
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="businesses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="testappApp.business.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="testappApp.business.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="state"><span jhiTranslate="testappApp.business.state">State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="address"><span jhiTranslate="testappApp.business.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phone"><span jhiTranslate="testappApp.business.phone">Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rate"><span jhiTranslate="testappApp.business.rate">Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="since"><span jhiTranslate="testappApp.business.since">Since</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="link"><span jhiTranslate="testappApp.business.link">Link</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reservation"><span jhiTranslate="testappApp.business.reservation">Reservation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="delivery"><span jhiTranslate="testappApp.business.delivery">Delivery</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wifi"><span jhiTranslate="testappApp.business.wifi">Wifi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="image"><span jhiTranslate="testappApp.business.image">Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="video"><span jhiTranslate="testappApp.business.video">Video</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paid"><span jhiTranslate="testappApp.business.paid">Paid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imagepath"><span jhiTranslate="testappApp.business.imagepath">Imagepath</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="videopath"><span jhiTranslate="testappApp.business.videopath">Videopath</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userProfileId"><span jhiTranslate="testappApp.business.userProfile">User Profile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let business of businesses ;trackBy: trackId">
                <td><a [routerLink]="['/business', business.id, 'view' ]">{{business.id}}</a></td>
                <td>{{business.title}}</td>
                <td>{{business.description}}</td>
                <td jhiTranslate="{{'testappApp.State.' + business.state}}">{{business.state}}</td>
                <td>{{business.address}}</td>
                <td>{{business.phone}}</td>
                <td>{{business.rate}}</td>
                <td>{{business.since | date:'mediumDate'}}</td>
                <td>{{business.link}}</td>
                <td>{{business.reservation}}</td>
                <td>{{business.delivery}}</td>
                <td>{{business.wifi}}</td>
                <td>
                    <a *ngIf="business.image" (click)="openFile(business.imageContentType, business.image)">
                        <img [src]="'data:' + business.imageContentType + ';base64,' + business.image" style="max-height: 30px;" alt="business image"/>
                    </a>
                    <span *ngIf="business.image">{{business.imageContentType}}, {{byteSize(business.image)}}</span>
                </td>
                <td>
                    <a *ngIf="business.video" (click)="openFile(business.videoContentType, business.video)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="business.video">{{business.videoContentType}}, {{byteSize(business.video)}}</span>
                </td>
                <td>{{business.paid}}</td>
                <td>{{business.imagepath}}</td>
                <td>{{business.videopath}}</td>
                <td>
                    <div *ngIf="business.userProfileId">
                        <a [routerLink]="['../user-profile', business.userProfileId , 'view' ]" >{{business.userProfileId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/business', business.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/business', business.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'business/'+ business.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="businesses && businesses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
